h1 {
    width: 100%;
    text-align: center;
}

.cow {
    width: max-content;
    margin: 0 auto;
    text-align: center;
    font-size: 44px;
    background-color: rgb(197, 26, 74);
}

.links {
    width: 100%;
    text-align: center;
    font-size: 16px;
}
