%{
/* gperf prologue */
#include "picow_http/http.h"
#include "embed_defs.h"

#define STATIC_CFG(sym, id_start, id_sz, gzip_start, gzip_sz, br_start, br_sz, \
                   ctype, eetag, ccctrl)				\
static struct static_hndlr_cfg sym ## _cfg = {				\
	.magic	= STATIC_CFG_MAGIC,					\
	.id	= {							\
		.ptr	= id_start,					\
		.sz	= (size_t)id_sz,				\
	},								\
	.gzip	= {							\
		.ptr	= gzip_start,					\
		.sz	= (size_t)gzip_sz,				\
	},								\
	.br	= {							\
		.ptr	= br_start,					\
		.sz	= (size_t)br_sz,				\
	},								\
	.ct	= {							\
		.ptr	= ctype,					\
		.sz	= STRLEN_LTRL(ctype),				\
	},								\
	.etag	= {							\
		.ptr	= eetag,					\
		.sz	= STRLEN_LTRL(eetag),				\
	},								\
	.cctrl	= {							\
		.ptr	= ccctrl,					\
		.sz	= STRLEN_LTRL(ccctrl),				\
	},								\
}

#define STATIC_HNDLR(sym)						\
static struct hndlrs sym ## _hndlrs = {					\
	.priv		= &sym ## _cfg,					\
	.allow		= "GET, HEAD",					\
	.allow_sz	= STRLEN_LTRL("GET, HEAD"),			\
	.method_bitmap	=						\
		((1U << HTTP_METHOD_GET) | (1U << HTTP_METHOD_HEAD)),	\
	.method_hndlr	= { http_hndlr_static, http_hndlr_static },	\
}

#define CUSTOM_HNDLR(sym, _allow, bits, nulls)	\
static struct hndlrs sym ## _hndlrs = {		\
	.priv		= NULL,			\
	.allow		= _allow,		\
	.allow_sz	= STRLEN_LTRL(_allow),	\
	.method_bitmap	= (bits),		\
	.method_hndlr	= nulls,		\
}

#define COMMA ,

{% for srv in servers -%}
{% if 'cert' in srv -%}
STATIC_DECLARE({{ srv.symbol }}_tls_cert);
STATIC_DECLARE({{ srv.symbol }}_tls_key);
{%- if 'pass_file' in srv.cert %}
STATIC_DECLARE({{ srv.symbol }}_tls_pass);
{%- endif %}
static const struct cert_data {{ srv.symbol }}_cert_data = {
	.magic	= CERT_DATA_MAGIC,
	.cert	= {
		.ptr	= {{ srv.symbol }}_tls_cert_data,
		.sz	= (size_t){{ srv.symbol }}_tls_cert_sz,
	},
	.key	= {
		.ptr	= {{ srv.symbol }}_tls_key_data,
		.sz	= (size_t){{ srv.symbol }}_tls_key_sz,
	},
{%- if 'pass_file' in srv.cert %}
	.pass	= {
		.ptr	= {{ srv.symbol }}_tls_pass_data,
		.sz	= (size_t){{ srv.symbol }}_tls_pass_sz,
	},
{%- else %}
	.pass	= {
		.ptr	= NULL,
		.sz	= 0,
	},
{%- endif %}
};
{% set cert_data_ptr = '&' + srv.symbol + '_cert_data' -%}
{% else -%}
{% set cert_data_ptr = 'NULL' -%}
{% endif -%}
{%- if 'errbits' in srv %}
static const uint8_t {{srv.symbol}}_err_bitmap[] =
	{{srv.err_array}};
{%- endif %}

static struct srv_data {{srv.symbol}}_srv_data = {
	.magic			= SRV_DATA_MAGIC,
	.name			= "{{srv.name}}",
	.cert_data		= {{cert_data_ptr}},
	.idx			= {{srv.idx}},
{%- if 'errbits' in srv %}
	.err_hndlr_status	= {{srv.symbol}}_err_bitmap,
{%- else %}
	.err_hndlr_status	= NULL,
{%- endif %}
};

{% for s in srv.statics -%}
{% for enc in s.encodings -%}
{% set e = s.encodings[enc] -%}
STATIC_EMBED("{{ e.file }}", {{ s.symbol }}_{{ e.suffix }});
STATIC_DECLARE({{ s.symbol }}_{{ e.suffix }});
{% endfor -%}
STATIC_CFG({{ s.symbol }},
  {% if 'id' in s.encodings %}{{ s.symbol }}_id_data, {{ s.symbol }}_id_sz,
  {%- else %}NULL, 0,{% endif %}
  {% if 'gzip' in s.encodings %}{{ s.symbol }}_gz_data, {{ s.symbol }}_gz_sz,
  {%- else %}NULL, 0,{% endif %}
  {% if 'br' in s.encodings %}{{ s.symbol }}_br_data, {{ s.symbol }}_br_sz,
  {%- else %}NULL, 0,{% endif %}
  "{{ s.type }}", "\"{{ s.etag }}\"", "{{ s.cache_ctrl }}");
STATIC_HNDLR({{ s.symbol }});
{% endfor %}

{% for c in srv.customs -%}
{% set pipe = joiner(" | ") -%}
{% set comma = joiner(" COMMA ") -%}
CUSTOM_HNDLR({{ c.symbol }}, "{{ c.allow }}",
  ({% for m in c.methods %}{{ pipe() }}(1U << HTTP_METHOD_{{ m }}){% endfor %}),
  { {% for m in c.methods %}{{ comma() }}NULL{% endfor %} });
{% endfor %}
{% endfor %}
#undef STATIC_EMBED
#undef STATIC_DECLARE
#undef STATIC_CFG
#undef STATIC_HNDLR
#undef CUSTOM_HNDLR
#undef COMMA

static struct srv_data * const servers[] = {
{%- for srv in servers %}
	[{{srv.idx}}] = &{{srv.symbol}}_srv_data,
{%- endfor %}
};

static const unsigned http_n_srv = {{ servers | length }};

{% for p in path_hndlrs -%}
{% set h = path_hndlrs[p] -%}
static struct hndlrs * const {{ h.symbol }}_hndlrs[] = {
{%- for s in h.srv %}
	{% if s is not none %}&{{ s }}_hndlrs{% else %}NULL{% endif %},
{% endfor -%}
};
{% endfor %}
%}
/* gperf struct declaration */
struct hndlr_map {
	const char	*name;
	struct hndlrs	* const * hndlrs;
};
%%
{% for p in path_hndlrs -%}
{{ p }},{{ path_hndlrs[p].symbol }}_hndlrs
{% endfor -%}
%%
/* C functions */
