/*
 * Copyright (c) 2022 Geoff Simmons <geoff@simmons.de>
 *
 * SPDX-License-Identifier: BSD-2-Clause
 * See LICENSE
 */

#include "embed_defs.h"

{% for srv in servers -%}
{% if 'cert' in srv -%}
STATIC_EMBED("{{ srv.cert.crt_file }}", {{ srv.symbol }}_tls_cert);
STATIC_DECLARE({{ srv.symbol }}_tls_cert);
STATIC_EMBED("{{ srv.cert.key_file }}", {{ srv.symbol }}_tls_key);
STATIC_DECLARE({{ srv.symbol }}_tls_key);
{% if 'pass_file' in srv.cert -%}
STATIC_EMBED("{{ srv.cert.pass_file }}", {{ srv.symbol }}_tls_pass);
STATIC_DECLARE({{ srv.symbol }}_tls_pass);
{%- endif %}
{%- endif %}
{%- endfor %}
